/* Diaporama */
main{
	width: 100%;
}
.diapo{
	overflow: hidden;
	position: relative;
}
.elements{
	display: flex;
}
.element{
	flex: 1 0 100%;
	width: 100%;
	height: 100%;
}
.element > img{
	width: 100%;
	min-height: 50vh;
	background-size: cover;
}
#nav-gauche, #nav-droite{
	margin: 10px;
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	background-color: #11101d;
	border-radius: 10px;
	border:none;
	color: #fff;
	text-align: center;
	font-size: 40px;      /*font-size: 2rem;*/
	height: 100px;
	width: 50px;
	cursor: pointer;
}
#nav-droite{
	right: 0%;
}
#nav-gauche{
	left: 0%;
}
#nav-gauche:hover, #nav-droite:hover{
	transition: all 0.4s ease;
	background-color: #fff;
	color: #11101d;
}

/* Actualité */
.secondary{
	justify-content: center;
	background-image: url(../Image/4.jpg);
	background-size: cover;
	width: 100%;
	padding: 15vh 0;
}
.news{
	margin-left: 12.5%;
    width: 75%;
	height: 55%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    background: rgba(38,18,12,0.62);
}
.news-right, .news-left {
	width: 50%;
	height: 100%;
	min-width: 450px;
}
.news-left img{
    width: 100%;
	height: 434px;
}
.news-list {
    display: flex;
    margin: 35px auto 0;
}
.news ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2vw;
}
.news-head-item {
    color: #ffd49f;
    position: relative;
    font-size: 150%;
    cursor: pointer;
}
.news-head-item::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    content: '';
    width: 93%;
    height: 3px;
    background: rgba(255,255,255,0.08);
}
.news-list {
    width: 112%;
    margin: 0 auto;
}
.news-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 82%;
    height: 50px;
    border-bottom: 2px solid rgba(255,255,255,0.08);
    box-sizing: content-box;
    font-size: 110%;
    color: #fff;
}
.news-title {
    width: 140%;
    height: 20px;
    line-height: 20px;
    padding-left: 11px;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-date {
    position: relative;
    right: 0px;
    color: rgba(255,255,255,0.35);
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
@media (max-width: 1200px) {
	.secondary{
	padding: 0;
	}
	.news{
		height: auto;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}
	.news-right, .news-left{
		flex-grow: 1;
	}
	.button-news{
		top: 92%;
	}
}
@media (max-width: 650) {
	.news{
		width: auto;
	}
	.news-right, .news-left{
		width: 75%;
	}
}